
h1 {
    font-family: "Verdana", Verdana, serif;
    color: aliceblue;

}

div {
    font-family: "Verdana", Verdana, serif;
    color: aliceblue;

}

table {
    color: aliceblue;
}

table, th, td {
    border: 1px solid white;
}
